*{
    margin: 0;
    padding: 0;
}
.main{
    width: 70%;
    text-align: center;
    margin: 50px auto;
}
h1{
    font-size: 50px;
}
.pictures{
    margin: 100px auto;
    display: grid;
    grid-template-rows: repeat(5, 1Fr);
    grid-template-columns: repeat(3, 1Fr);
    grid-gap: 40px;
}
.pictures img{
    height: 320px;
    width: 420px;
    max-width: 100%;
    border-radius: 5px;
}